:root {
  --main-font: "Jost";
  --main-color: #141024;
  --accent-color: #D52027;
}

/* #region base */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: var(--main-font), sans-serif;
  font-size: 1.8rem;
  color: var(--main-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container-large {
  max-width: 172rem;
  margin: 0 auto;
}

.container {
  max-width: 116rem;
  margin: 0 auto;
}

/* #endregion base */

/* #region shared */

.logo {
  font-weight: 700;
  font-size: 3rem;
}

.tel {
  font-weight: 600;
  font-size: 3rem;
  color: white;
}

.section-heading {
  font-weight: 600;
  font-size: 5rem;
}

.button-accent {
  background: var(--accent-color);
  padding: 3rem 6rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: white;
  transition: all 0.3s;
}

.button-accent:hover {
  box-shadow: 0px 0px 2rem #a3191e;
  transition: all 0.3s;
}

.effect-double-line-accent {
  position: relative;
  overflow: hidden;
}

.effect-double-line-accent::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.1rem;
  background: var(--accent-color);
  transition: all 0.3s;
}

.effect-double-line-accent:hover::before {
  left: 0;
  transition: all 0.3s;
}

.effect-double-line-accent::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 0.1rem;
  background: var(--accent-color);
  transition: all 0.3s;
}

.effect-double-line-accent:hover::after {
  right: 0;
  transition: all 0.3s;
}

/* #endregion shared */

/* #region header */

header {
  background: var(--main-color);
  padding: 3rem 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap a {
  color: white;
  transition: all 0.2s;
}

.header-wrap a:hover {
  color: #a7a7a7;
  transition: all 0.2s;
}

.header-about {
  display: flex;
  gap: 4rem;
  font-weight: 400;
  font-size: 2rem;
}

/* #endregion header */

/* #region hero */

.hero {
  background: var(--main-color);
}

.hero-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85rem;
  color: white;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-30%);
}

.hero-left h1 {
  font-weight: 600;
  font-size: 7rem;
  margin-bottom: 2rem;
}

.hero-desc {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.hero-right {
  position: relative;
  height: 100%;
}

.hero-ellipse {
  position: absolute;
  right: -11rem;
  bottom: 3rem;
  width: 73rem;
  height: 73rem;
  object-fit: contain;
}

.hero-img {
  position: relative;
  height: 100%;
  z-index: 1;
}

/* #endregion hero */

/* #region about */

.about {
  padding: 12rem 0;
}

.about-wrap {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.about-text {
  font-weight: 400;
  font-size: 3rem;
}

.about-text span {
  font-weight: 600;
}

.about-achievements {
  display: flex;
  justify-content: space-between;
}

.about-achievements-item h3 {
  font-weight: 600;
  font-size: 7rem;
  color: var(--accent-color);
}

.about-achievements-item p {
  font-weight: 400;
  color: #141024B2;
}

/* #endregion about */

/* #region outcomes */

.outcomes {
  background: #F9F9F9;
  padding: 10rem 0;
}

.outcomes-wrap {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.outcomes-list {
  display: flex;
  justify-content: space-between;
}

.outcomes-item {
  position: relative;
}

.outcomes-item h3 {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.outcomes-item p {
  color: #141024B2;
}

.info-icon {
  position: absolute;
  left: 11.5rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  background: url(../images/icon-info.png) center / contain;
  border-radius: 50%;
}

.info-icon::before {
  content: "При наличии свободных мест";
  position: absolute;
  top: -6.5rem;
  padding: 1.5rem 2rem;
  background: white;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  box-shadow: 0px 0px 0.8rem #1410241A;
  display: none;
}

.info-icon:hover::before {
  display: block;
}

/* #endregion outcomes */

/* #region coaches */

.coaches {
  padding: 12rem 0;
}

.coaches-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6rem;
}

.coach-list {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding-bottom: 7rem;
}

.coach {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 36rem;
}

.coach img {
  margin-bottom: 2rem;
  width: 100%;
  height: 50rem;
  object-fit: cover;
  border-radius: 2rem;
  cursor: pointer;
}

.coach h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2.4rem;
}

.coach p {
  margin-bottom: 2rem;
  font-weight: 400;
  color: #141024B2
}

.coach button {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--accent-color);
  border: none;
  background: transparent;
  cursor: pointer;
}

.coach-list::-webkit-scrollbar {
  height: 0.5rem;
}

.coach-list::-webkit-scrollbar-track {
  background: #14102414;
  border-radius: 1rem;
  margin-right: 80rem;
}

.coach-list::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 1rem;
}

.coaches-wrap>button {
  position: absolute;
  bottom: 0;
  width: 4rem;
  height: 4rem;
  transform: translateY(50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s;
}

.coaches-wrap>button:hover {
  transform: translateY(50%) scale(1.1);
  transition: all 0.3s;
}

.left-arrow {
  background-image: url(../images/arrow-left.png);
  right: 6rem;
}

.right-arrow {
  background-image: url(../images/arrow-right.png);
  right: 1rem;
}

/* #endregion coaches */

/* #region pricing */

.pricing {
  padding-bottom: 12rem;
}

.pricing-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6rem;
  text-align: center;
}

.pricing-cards-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
  padding: 4rem;
  border: 0.1rem solid #14102433;
  border-radius: 2rem;
  transition: 0.3s;
}

.pricing-card h3 {
  font-weight: 600;
  font-size: 3rem;
}

.pricing-card-desc h4 {
  font-weight: 600;
  font-size: 5rem;
}

.pricing-card button {
  padding: 2.5rem 7rem;
}

.pricing-card:hover {
  background: var(--main-color);
  color: white;
  transform: scale(1.1);
  transition: all 0.3s;
  cursor: pointer;
}

/* #endregion pricing */

/* #region form */

.form {
  background: var(--accent-color);
  position: relative;
}

.form-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9rem 6rem;
}

.form-discount-text {
  line-height: 1.3;
  transform: translateY(-40%);
  color: white;
}

.form-discount-text h3 {
  font-weight: 600;
  font-size: 3.2rem;
}

.form-discount-text p {
  font-size: 2rem;
  margin-top: 2rem;
}

.form-wrap form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}

.form-wrap form input {
  width: 50rem;
  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.8rem;
}

.form-wrap form input[type="submit"] {
  background: var(--main-color);
  color: white;
  cursor: pointer;
}

.percents-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem;
  background: url(../images/percents.png) repeat-x center / contain;
}

.form-error-msg {
  color: yellow;
  display: none;
}

/* #endregion form */

/* #region footer */

footer {
  background: var(--main-color);
  padding: 4rem 0;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-wrap a {
  color: white;
  transition: all 0.2s;
}

.footer-wrap a:hover {
  color: #a7a7a7;
  transition: all 0.2s;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.copy-right {
  font-weight: 400;
  font-size: 1.6rem;
  color: #FFFFFFB2
}

/* #endregion footer */

/* #region coach popup */

.coach-popup-wrap {
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10000;
}

.coach-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  padding: 4rem;
  border-radius: 2rem;
  background: white;
  font-family: var(--main-font);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
}

.coach-profile {
  position: relative;
  display: flex;
  height: 22rem;
  gap: 4rem;
}

.coach-profile>button {
  position: absolute;
  right: 0;
  color: #141024B2;
}

.coach-profile>img {
  width: 16rem;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.coach-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 66rem;
  height: 100%;
}

.coach-info h3 {
  font-weight: 600;
  font-size: 2.4rem;
}

.coach-info p {
  color: #141024B2;
}

.coach-social {
  display: flex;
  gap: 1rem;
}

.coach-social img {
  width: 3rem;
  height: 3rem;
}

.coach-tabs {
  display: flex;
  gap: 18rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #1410241C;
}

.coach-tabs button {
  font-size: 2rem;
}

.coach-tabs button.active {
  color: var(--accent-color);
}

.coach-content {
  display: flex;
  flex-direction: column;
  max-height: 35rem;
  overflow-y: auto;
  margin-top: 2rem;
  font-size: 2rem;
}

/* #endregion coach popup */

/* #region media for desktops and laptops */

@media (max-width: 1824px) {
  html {
    font-size: 59.375%;
  }
}

@media (max-width: 1728px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 1632px) {
  html {
    font-size: 53.125%;
  }
}

@media (max-width: 1536px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 46.875%;
  }
}

@media (max-width: 1344px) {
  html {
    font-size: 43.75%;
  }
}

/* #endregion media for desktops and laptops */

/* #region media for tablets */

@media (max-width: 1248px) {
  .container-large {
    max-width: 95.5%;
  }

  .container {
    max-width: 90%;
  }

  .hero-wrap {
    position: relative;
    flex-direction: column;
    height: unset;
    padding-top: 5rem;
  }

  .hero-left {
    align-items: center;
    transform: unset;
  }

  .hero-desc {
    text-align: center;
  }

  .hero-left .button-accent {
    position: absolute;
    bottom: 4rem;
    z-index: 2;
    width: 46.5%; /* 44.5%*/
  }

  .hero-right {
    height: 85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-ellipse {
    right: unset;
  }

  .about-achievements {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .about-achievements-item {
    flex: 1 0 calc(50% - 2rem);
  }

  .about-achievements-item p {
    display: inline-block;
  }

  .outcomes-list {
    gap: 2rem;
    flex-wrap: wrap;
  }

  .outcomes-item {
    flex: 1 0 100%;
  }

  .outcomes-item p {
    display: inline-block;
  }

  .coaches-wrap>button {
    display: none;
  }

  .coach-list::-webkit-scrollbar-track {
    margin-right: 68rem;
  }

  .pricing-cards-list {
    gap: 4rem;
    flex-wrap: wrap;
  }

  .pricing-card {
    flex: 1 0 calc(50% - 4rem);
  }

  .pricing-card:hover {
    transform: scale(1.03);
  }

  .pricing-cards-list .pricing-card:first-child {
    flex-basis: 100%;
  }

  .pricing-cards-list .pricing-card:first-child .pricing-card-desc p {
    display: inline-block;
  }

  .form-wrap {
    flex-direction: column;
    gap: 4rem;
  }

  .form-discount-text {
    transform: unset;
    color: white;
    text-align: center;
  }

  .form-discount-text h3 {
    display: inline-block;
  }

  .percents-img {
    height: 8rem;
  }
}

/* #endregion media for tablets */
